<!DOCTYPE html>
<html lang="zh-cn">
<head>
<include file="Widget/head" />
	<style type="text/css">
	#category {display: none;}
	</style>
</head>
<body>
{:W('Page/Menu')}

<!-- 面包屑 start -->
<div class="bread">
	<div class="sitewidth">
		<a class="toindex" href="{:U('Index/index')}">返回首页</a>
		<!-- <foreach name="bread" item="vo" key="k" > -->
		&nbsp;〉<a href="{:U('lists?cid='.$k)}">{$vo}</a>
		<!-- </foreach> -->
		&nbsp;〉{$info['title']}
	</div>
</div>
<!-- 面包屑 end -->

<!-- 列表页内容 start -->
<div class="main">
	<div class="sitewidth">
		<!-- 左侧栏 start -->
		{:W('Page/Sider',array($thisclass))}
		<!-- 左侧栏 end -->
		<div class="main-art fl">
			<div class="main-art-title">
				<div class="title">{$info['title']}</div>
				<div class="attr">发布时间:{:date('Y-m-d',$info['posttime'])} 点击:{$info['hits']}次</div>
			</div>
			<div class="main-art-content">
				<!-- <if condition="$info['content']"> -->
				{$info['content']}
				<!-- <else /> -->
				网站资料更新中....
				<!-- </if> -->
			</div>
		</div>
	</div>
</div>
<div class="cl"></div>
<!-- 列表页内容 end -->

<!-- 热门旅游start -->
{:W('Page/Remen')}
<!-- 热门旅游end -->

{:W('Page/Foot')}

<script type="text/javascript">
$(function($) {
	
	$("#cate-menu").mouseenter(function(){
			$("#category").show();
	});
	$("#cate-menu").mouseleave(function(){
		$("#category").hide();
	});
	
});
</script>

</body>
</html>