@CHARSET "UTF-8";
/**全局**/
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body{margin:0; padding:0; font-size:12px; color:#333; font-family:"Helvetica Neue","Microsoft Yahei",sans-serif;}
form,ul,li,p,h1,h2,h3,h4,h5,h6,h9{margin:0; padding:0;}
input,select{font-size:12px; line-height:16px;}
img{border:0;}
ul,li{list-style-type:none;}
cite,em,i,h6{font-style:normal;}
dt,dl,dd{padding:0;margin:0;}
a {color:#333; text-decoration:none; cursor:pointer;}
a:hover {color:#ff8800; text-decoration:underline;}
/**通用**/ /*网站总宽1200px*/
.fl{float:left; display:inline;}
.fr{float:right;}
.cl{clear:both;}
.sitewidth {width: 1200px; margin: 0 auto;}
.orange {color:#ff8800;}
/*
橙色  #ff8800
绿色  #37c249
*/

/***顶部状态栏**********************************************************/
.top_status {background:#fbfbfb; border-bottom:1px solid #f3f3f3;}
	.top_status .sitewidth {height:30px; line-height:30px;padding:0 20px;}
		.top_status .guanzhu {}
			.top_status .guanzhu a {color: #999; font-size:18px; padding:0 10px;}
			.top_status .guanzhu a:hover {color:#ff8800; text-decoration:none;}
		.top_status .links {border-right:1px solid #e1e1e1;}
			.top_status .links a {padding: 0 10px;}
			.top_status .links a.orange {color:#e75210;}

/***头部**********************************************************/
.header .sitewidth {height:120px;}
	.header .logo {height: 120px; width:240px; padding: 20px 0 29px 6px;}
		.header .logo img {height: 71px;}
	.header .search_hotline {width:960px;height:38px;margin:41px 0;padding-left:236px;}
		.header .search {width:490px; border: 2px solid #ff8800;}
			.header .search input {height:34px;border: none; background:none;}
			.header .search input:focus {outline:none;}
			.header .search .search_text {width:423px;margin:0;padding:0 5px;}
			.header .search .search_btn {width:63px;margin:0;padding:0; cursor:pointer; background: url("../images/search_btn.jpg"); }
		.header .hotline {width:229px;margin-left:5px;border: 1px solid #dfdfdf;overflow: hidden;}
			.header .hotline .hotline_img {width:77px;height:36px;background: url("../images/hotline_img.png");}
			.header .hotline .hotline_text {width:150px;line-height:36px;text-align:center; font-size:22px;font-weight: bold;color:#37c249;font-family: Times, serif;padding:0 5px;}
/***导航**********************************************************/
.navicat {height: 41px;line-height: 38px; border-top: 1px solid #37c249;border-bottom: 2px solid #37c249;position: relative;}
	.navicat .first {width: 190px;color:#fff;font-size:16px; text-align:center;background: #37c249 url("../images/nav_tit.jpg") no-repeat 12% 55%;}
	.navicat .category {position: absolute;width: 238px;height: 415px;background: url("../images/category_bg.jpg"); top:40px;}
	.navicat ul.nav {font-size:16px;width:1010px;height:38px;overflow: hidden;}
		.navicat ul.nav li {float:left;text-align: center;}
		.navicat ul.nav li:HOVER {background: url("../images/arrow-top.png") no-repeat 50% 100% #f8f8f8;}
			.navicat ul.nav a {font-weight:500; color: #37c249;text-decoration:none;display: block;padding:0 29px;overflow: hidden;text-align: center;}
			.navicat ul.nav a:HOVER {color: #e64905;text-decoration:none;}
.banner {}
	.banner .sitewidth {padding-left:238px;height:415px;}
		/***幻灯Banner***************/
		#slideplay {width:724px;height:415px;position:relative;overflow:hidden; float:left;}
		#slideplay ul{position:absolute;}
		#slideplay ul li{height:415px;position:relative;float:left;background:#000;overflow:hidden;}
		#slideplay ul li div{position:absolute;}
		#slideplay ul li img{width:724px;height:415px;}
		#slideplay .btnBg{width:724px;height:20px;position:absolute;left:0;bottom:0;background:;}
		#slideplay .btn{/*height:10px;*/padding:5px 10px;position:absolute;right:0;bottom:0;text-align:right;}
		#slideplay .btn span{width:25px;height:10px;margin-left:5px;background:#fff;display:inline-block;cursor:pointer;_display:inline;_zoom:1;_font-size:0;}
		#slideplay .btn span.on{background:#fff;}
		#slideplay .preNext{width:45px;height:100px;position:absolute;top:120px;background:url(../images/sprite.png) no-repeat 0 0;cursor:pointer;}
		#slideplay .pre{left:0;}
		#slideplay .next{right:0;background-position:right top;}
		.banner .news {width:238px;height:415px; background: url("../images/banner_news_bg.jpg");}
			.banner .news .notice {margin: 92px 20px 40px;color:#17521f;line-height:20px; height:60px;overflow: hidden;}
				.banner .news .notice .content {height:40px;overflow: hidden;}
				.banner .news .notice .date {text-align: right;}
			.banner .news .dongtai {padding:73px 20px 0;height:223px; line-height:20px; overflow: hidden;}
				/***游客动态滚动************************/
				#yk_dt p {background: url("../images/cart.png") no-repeat scroll 0px 6px;height: 50px;line-height: 23px;overflow: hidden; padding: 2px 5px 2px 20px;}
					#yk_dt a {color: #109c05;}
/***热门旅游**********************************************************/
.hotlvyou {margin-top: 8px;}
	.hotlvyou .title {padding:10px 0 0 15px;height: 52px;line-height: 38px;font-size:22px; border-bottom: 4px solid #ff6600;background: url("../images/idx-pic1.png") no-repeat 152px 1px;}
		.hotlvyou .title .tab {margin-right: 35px;height:38px;}
			.hotlvyou .title .tab a {display: inline-block;font-size:16px;line-height:34px;height:34px;padding:0 10px;}
			.hotlvyou .title .tab a.active, .hotlvyou .title .tab a:HOVER {color:#fff; background: #ff6600;text-decoration: none;}
	.hotlvyou .piclist {height:251px; border: 1px solid #d7d7d7;border-top:none;}
		.hotlvyou .piclist ul li {width:239px;height:250px;border-left:1px dashed #d7d7d7;float:left;text-align: center;}
		.hotlvyou .piclist ul li:FIRST-CHILD {border-left:none;}
			.hotlvyou .piclist .pic {padding:10px 19px 10px 20px;border-bottom: 1px solid #d7d7d7;}
				.hotlvyou .piclist .pic img {border-radius:5px; width:100%;height:100%;}
			.hotlvyou .piclist .text {text-align: left;padding: 0 20px;}
				.hotlvyou .piclist .text .head a {color: #109c05;font-size:16px;line-height:30px;}
				.hotlvyou .piclist .text .body {}
					.hotlvyou .piclist .text .body .miaoshu {line-height:20px;width:137px;height:40px;overflow: hidden;}
						.hotlvyou .piclist .text .body .miaoshu .red {color:#B3051C;}
					.hotlvyou .piclist .text .body .chakan {margin:10px 0 0 5px;}
						.hotlvyou .piclist .text .body .chakan a {display: block;padding: 4px;background: #F0F0F0;}
/***当季热门,周末去哪儿**********************************************************/
.idx_list {margin-top:15px;}
	.idx_list .head {height:62px;}
	.idx_list .head .title {width:245px;height:62px;line-height:62px;color:#fff;font-size:24px;text-align: center;}
	.idx_list .head .group {width:955px;height:62px;}
		.idx_list .head .group .remen {width:745px;height:58px;overflow:hidden;text-align: right;line-height:20px;padding:38px 10px 0 40px;font-size:14px;}
			.idx_list .head .group .remen a {padding: 0 7px;color:#8a8989;}
		.idx_list .head .group .tab {width:210px;height:58px;padding-right: 35px;padding-top:24px;}
			.idx_list .head .group .tab a {display: inline-block;font-size:16px;line-height:34px;height:34px;padding:0 10px;}
			.idx_list .head .group .tab a.active, .idx_list .head .group .tab a:HOVER {color:#fff;text-decoration: none;}
	.idx_list .body {height: 506px;}
	.idx_list .body .bigimg {width:245px; height:506px;}
		.idx_list .body .bigimg img {width:100%;height:100%;}
	.idx_list .body .piclist {width:955px;height:506px; border:1px solid #dfdfdf;border-left: none;padding-left:45px}
		.idx_list .body .piclist li {float:left; width:303px;height:252px;padding:15px 45px 5px 0;}
			.idx_list .body .piclist .pic img {width:100%;height:100%;}
			.idx_list .body .piclist .title {width:100%;line-height:22px;height:22px;overflow: hidden;}
			.idx_list .body .piclist .price {color:#ff8800;height:26px;line-height:26px;}
				.idx_list .body .piclist .price span {font-size:20px;}
			.idx_list .body .piclist .manyi {color:#bbbbbb;height:26px;line-height:26px;}
	/***当季热门****************/
	.dangji .head .title {background: url("../images/pink-tit.jpg") no-repeat;}
	.dangji .head .group {border-bottom: 4px solid #ff3a88;}
	.dangji .head .group .tab a.active, .dangji .head .group .tab a:HOVER {background: #ff3a88;}
	/***周末去哪儿***************/
	.zhoumo .head .title {background: url("../images/green-tit.jpg") no-repeat;}
	.zhoumo .head .group {border-bottom: 4px solid #a6d604;}
	.zhoumo .head .group .tab a.active, .zhoumo .head .group .tab a:HOVER {background: #a6d604;}
/***特价,推荐,风采**********************************************************/
.t-t-f {margin-top:15px;height:835px;}
	.t-t-f .left {width:876px;height:835px;padding-right:10px;}
		.t-t-f .tejia .head {font-size:22px;line-height:30px;padding:18px 0 0 15px;height:48px;background: url("../images/idx-pic2.jpg") no-repeat 126px 0px;}
			.t-t-f .tejia .head .more a {display:block; font-size:14px; color:#b9b9b9;line-height:20px; padding:10px 3px 0 0;}
		.t-t-f .tejia .body {border: 1px solid #dfdfdf;border-top: 4px solid #64a10a;height:421px; overflow: hidden;}
			.t-t-f .tejia .body .list {float:left;width:288px;height:416px;padding:18px 24px;}
		.t-t-f .tuandui .head {font-size:22px;line-height:30px;padding:30px 0 0 15px;height:60px;background: url("../images/idx-pic3.png") no-repeat 126px 0px;}
			.t-t-f .tuandui .head .more a {display:block; font-size:14px; color:#b9b9b9;line-height:20px; padding:10px 3px 0 0;}
		.t-t-f .tuandui .body {border: 1px solid #dfdfdf;border-top: 4px solid #ff390f;height:306px;overflow: hidden;}
			.t-t-f .tuandui .body .list {float:left;width:288px;height:416px;padding:18px 24px;}
		
	.t-t-f .right {width:324px;height:835px;border: 1px solid #dfdfdf;border-top: 2px solid #64a10a;}
		.t-t-f .right .head {height:94px;}
		.t-t-f .right .list {height:246px;}
			.t-t-f .right .list .tit {padding:0 20px;color:#64a10a;font-size:20px;height:36px;line-height:36px;background: #f3f3f3;}
				.t-t-f .right .list .tit .dis {color:#999999;font-size:14px;line-height:20px;margin-left:10px;}
			.t-t-f .right .list ul {width:322px;height:210px;background: url("../images/tuijian_ul_bg.png") no-repeat;}
				
/***底部**********************************************************/
.footer {margin-top:15px;}
	.footer .pinzhi {background: #2dc270;}
		.footer .pinzhi .sitewidth {height:56px;background: url("../images/footer_pinzhi_bg.jpg") no-repeat #2dc270;}
	.footer .article {background: #37c249;height:228px;padding:36px 0;}
		.footer .article .logo {padding:42px 0;}
		.footer .article .artlist {padding-left:40px;}
			.footer .article .artlist ul.list {float: left;width:230px;height:158px;border-left: 1px solid #61cf6f;overflow: hidden;}
				.footer .article .artlist ul.list li {padding:0 20px;line-height:30px;}
				.footer .article .artlist ul.list li.tit a {color:#1d6827;font-size:16px;font-weight: 600;}
				.footer .article .artlist ul.list li a {color:#fff;font-size:14px;}
	.banquan {border-top: 1px solid #258231;background:#2da03c; line-height:59px;color:#fff;}
		.banquan a {color:#fff;}
/**动画定义*************************************************************************/
.icon-animated-vertical {
	display: inline-block;
	-moz-animation: vertical 2s 8 ease 3s;
	-webkit-animation: vertical 2s 8 ease 3s;
	-o-animation: vertical 2s 8 ease 3s;
	-ms-animation: vertical 2s 8 ease 3s;
	animation: vertical 2s 8 ease 3s
}

@-moz-keyframes vertical {
    0% {
        -moz-transform: translate(0,0)
    }

    4% {
        -moz-transform: translate(0,3px)
    }

    8% {
        -moz-transform: translate(0,-3px)
    }

    12% {
        -moz-transform: translate(0,3px)
    }

    16% {
        -moz-transform: translate(0,-3px)
    }

    20% {
        -moz-transform: translate(0,3px)
    }

    22% {
        -moz-transform: translate(0,0)
    }
}

@-webkit-keyframes vertical {
    0% {
        -webkit-transform: translate(0,0)
    }

    4% {
        -webkit-transform: translate(0,3px)
    }

    8% {
        -webkit-transform: translate(0,-3px)
    }

    12% {
        -webkit-transform: translate(0,3px)
    }

    16% {
        -webkit-transform: translate(0,-3px)
    }

    20% {
        -webkit-transform: translate(0,3px)
    }

    22% {
        -webkit-transform: translate(0,0)
    }
}

@-ms-keyframes vertical {
    0% {
        -ms-transform: translate(0,0)
    }

    4% {
        -ms-transform: translate(0,3px)
    }

    8% {
        -ms-transform: translate(0,-3px)
    }

    12% {
        -ms-transform: translate(0,3px)
    }

    16% {
        -ms-transform: translate(0,-3px)
    }

    20% {
        -ms-transform: translate(0,3px)
    }

    22% {
        -ms-transform: translate(0,0)
    }
}

@keyframes vertical {
    0% {
        transform: translate(0,0)
    }

    4% {
        transform: translate(0,3px)
    }

    8% {
        transform: translate(0,-3px)
    }

    12% {
        transform: translate(0,3px)
    }

    16% {
        transform: translate(0,-3px)
    }

    20% {
        transform: translate(0,3px)
    }

    22% {
        transform: translate(0,0)
    }
}
