
<!-- 底部start -->
<div class="footer">
	<div class="pinzhi">
		<div class="sitewidth"></div>
	</div>
	<div class="article">
		<div class="sitewidth">
			<div class="logo fl"><img src="__IMG__/logo-footer.png" /></div>
			<div class="artlist fl">
			<!-- <foreach name="list" item="vo" > -->
				<ul class="list">
					<li class="tit"><a href="{:U('Article/lists?cid='.$vo['id'])}">{$vo['classname']}</a></li>
					<!-- <foreach name="vo['art']" item="art" > -->
					<li><a href="{:U('Article/info?id='.$art['id'])}">{$art['title']}</a></li>
					<!-- </foreach> -->
				</ul>
			<!-- </foreach> -->
			</div>
		</div>
	</div>
	<div class="banquan">
		<div class="sitewidth">
			公司地址：<font color="#FFBD92">{:C('cfg_company_address')}</font><br/>
			版权所有：{:C('cfg_copyright')}&nbsp;&nbsp;&nbsp;
			<!-- <if condition="C('cfg_icp')"> -->
			<a href="http://www.miitbeian.gov.cn" target="_blank">{:C('cfg_icp')}</a>
			<!-- </if> -->
		</div>
	</div>
</div>
<!-- 底部end -->

<!-- JS script include start -->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->
<!-- JS script include start end -->

<script type="text/javascript">
$(function($){
	$("#category").on("mouseenter","li",function(){
		var num = $("#category li").index($(this));
		var hideboxs = $("#nav_tag_con .hide_box");
		if (num < hideboxs.length) {
			hideboxs.eq(num).show().siblings().hide();
			$("#nav_tag_con").show();
			$("#nav_tag_con").hover(
				function() {
					hideboxs.eq(num).show().siblings().hide();
					$("#nav_tag_con").show();
				},
				function() {
					var num = $("#category li").index($(this));
					$("#nav_tag_con").hide();
				}
			);
		}
	});
	$("#category").on("mouseleave","li",function(){
		var num = $("#category li").index($(this));
		$("#nav_tag_con").hide();
	});
	$(".hide_box dl").hover(
		function() {
			$(this).addClass("hover").siblings().removeClass("hover");
		},
		function() {
			$(this).removeClass("hover");
		}
	)
});
</script>