
<!-- 底部start -->
<div class="footer">
	<div class="pinzhi">
		<div class="sitewidth"></div>
	</div>
	<div class="article">
		<div class="sitewidth">
			<div class="logo fl"><img src="__IMG__/logo-footer.png" /></div>
			<div class="artlist fl">
			<!-- <foreach name="list" item="vo" > -->
				<ul class="list">
					<li class="tit"><a href="{:U('Article/lists?cid='.$vo['id'])}">{$vo['classname']}</a></li>
					<!-- <foreach name="vo['art']" item="art" > -->
					<li><a href="{:U('Article/info?id='.$art['id'])}">{$art['title']}</a></li>
					<!-- </foreach> -->
				</ul>
			<!-- </foreach> -->
			</div>
		</div>
	</div>
	<div class="banquan">
		<div class="sitewidth">
			公司地址：<font color="#FFBD92">{:C('cfg_company_address')}</font><br/>
			版权所有：{:C('cfg_copyright')}&nbsp;&nbsp;&nbsp;
			<!-- <if condition="C('cfg_icp')"> -->
			<a href="http://www.miitbeian.gov.cn" target="_blank">{:C('cfg_icp')}</a>&nbsp;&nbsp;
			<!-- </if> -->
			技术支持：<a href="http://www.dx623.com" target="_blank">东翔科技</a>
		</div>
	</div>
</div>
<!-- 底部end -->

<script type="text/javascript">
$(function($){
	$("#a_weixin_tip").hover(
		function() {
			$(".weixin_tip").show();
		},
		function() {
			$(".weixin_tip").hide();
		}
	);
	$("#category").on("mouseenter","li",function(){
		var num = $("#category li").index($(this));
		var hideboxs = $("#nav_tag_con .hide_box");
		if (num < hideboxs.length) {
			hideboxs.eq(num).show().siblings().hide();
			$("#nav_tag_con").show();
			$("#nav_tag_con").hover(
				function() {
					hideboxs.eq(num).show().siblings().hide();
					$("#nav_tag_con").show();
				},
				function() {
					var num = $("#category li").index($(this));
					$("#nav_tag_con").hide();
				}
			);
		}
	});
	$("#category").on("mouseleave","li",function(){
		var num = $("#category li").index($(this));
		$("#nav_tag_con").hide();
	});
	$(".hide_box dl").hover(
		function() {
			$(this).addClass("hover").siblings().removeClass("hover");
		},
		function() {
			$(this).removeClass("hover");
		}
	);
	
	//跟随滚动
	try {
		var main_top = $('.main').offset().top; //main距离页面顶部的距离
		var main_height = $(".main-sider").next().height(); //main的高度
		var sider_height = $(".main-sider").height();//侧栏高度
		var footer_top = main_top+main_height-sider_height; //footer距离页面顶部的距离 
		$(window).scroll(function(){
			if(($(window).scrollTop() >= main_top) && ($(window).scrollTop()<=footer_top)) {
				$('.main-sider').css({position:'fixed',top:'10px'});
				$(".main-sider").next().css({"margin-left":"246px"});
			}else if($(window).scrollTop() >= footer_top && main_height-sider_height>0){
				$('.main-sider').css({position:'absolute',top:main_height-sider_height+'px'});
				$(".main-sider").next().css({"margin-left":"246px"});
			}else{
				$('.main-sider').css({position:'absolute',top:"0"});
				$(".main-sider").next().css({"margin-left":"246px"});
			}
		});
	} catch (e) {
		
	}
});

</script>