<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>{$Think.config.cfg_seotitle}</title>
<meta name="keywords" content="{$Think.config.cfg_keyword}" />
<meta name="description" content="{$Think.config.cfg_description}" />

<!-- font-awesome -->
<link href="__PUBLIC__/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

<!-- home basic css -->
<link href="__CSS__/home.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="__JS__/html5shiv.min.js"></script>
<script src="__JS__/respond.min.js"></script>
<![endif]-->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->