
<!-- 顶部状态栏start -->
<div class="top_status">
	<div class="sitewidth">
		<div class="fl">{$Think.config.cfg_welcome}</div>
		<div class="fr guanzhu">
			<a href="#"><i class="fa fa-weibo"></i></a>
			<a href="{:U('Mobile/Index/index')}" target="_blank"><i class="fa fa-mobile" style="font-size: 22px;"></i></a>
			<a href="#" id="a_weixin_tip"><i class="fa fa-weixin"></i></a>
			<div class="weixin_tip">
				<s></s>
				<div class="img"><img src="__IMG__/weixin.jpg" width="100%" height="100%" /></div>
				<b>关注洛阳舒翔假期微信</b>
				<span>找攻略、订线路、查门票、搜酒店...</span>
				<p>扫描二维码或微信查找“sxly0379”</p>
			</div>
		</div>
		<div class="fr links">
			<a class="orange" href="javascript:window.external.AddFavorite('http://www.0379sx.com','洛阳舒翔假期国际旅行社')">一键收藏</a>
			<a href="{:U('Article/one?id=9&tpl=about')}">关于我们</a>
			<a href="{:U('Article/one?id=9&tpl=about')}">联系我们</a>
		</div>
	</div>
</div>
<!-- 顶部状态栏end -->

<!-- 头部start -->
<div class="header sitewidth">
	<div class="logo">
		<img src="__IMG__/logo_full.png" />
	</div>
	<div class="search_hotline">
		<div class="fl hotline">
			<div class="hotline_tit fl">24小时咨询电话</div>
			<div class="hotline_text fl">18736322037</div>
			<div class="hotline_text fl">0379-65296860</div>
		</div>
		<div class="fl search">
			<form name="topsearch" method="get" action="{:U('Line/lists')}">
				<input class="search_text fl" type="search" name="keywords"
					placeholder="请输入目的地名称或线路关键词" /> <input class="search_btn fl"
					type="submit" value="" />
			</form>
		</div>
	</div>
</div>
<!-- 头部end -->

<!-- 导航 start -->
<div class="navicat">
	<div class="sitewidth">
		<div class="first fl" id="cate-menu">
			热门产品分类
			<div class="category" id="category">
				<ul>
					<li><strong><a href="{:U('Line/lists?cid=16')}">当季热门</a></strong>
						<p>
							<a href="{:U('Line/lists?cid=16')}">滑雪场</a>
							<a href="{:U('Line/lists?cid=16')}">蜜月</a>
							<a href="{:U('Line/lists?cid=16')}">周末</a>
							<a href="{:U('Line/lists?cid=16')}">跟团</a>
						</p></li>
					<li><strong><a href="{:U('Line/lists?cid=3')}">洛阳周边</a></strong>
						<p>
							<a href="{:U('Line/lists?cid=3')}">王城公园</a> <a
								href="{:U('Line/lists?cid=3')}">滑雪场</a> <a
								href="{:U('Line/lists?cid=3')}">重渡沟</a> <a
								href="{:U('Line/lists?cid=3')}">重渡沟</a>
						</p></li>
					<li><strong><a href="{:U('Line/lists?cid=4')}">国内旅游</a></strong>
						<p>
							<a href="{:U('Line/lists?cid=4')}">桂林</a> <a
								href="{:U('Line/lists?cid=4')}">云南</a> <a
								href="{:U('Line/lists?cid=4')}">四川</a> <a
								href="{:U('Line/lists?cid=4')}">哈尔滨</a> <a
								href="{:U('Line/lists?cid=4')}">哈尔滨</a>
						</p></li>
					<li><strong><a href="{:U('Line/lists?cid=5')}">出境旅游</a></strong>
						<p>
							<a href="{:U('Line/lists?cid=5')}">马尔代夫</a> <a
								href="{:U('Line/lists?cid=5')}">韩国</a> <a
								href="{:U('Line/lists?cid=5')}">日本</a> <a
								href="{:U('Line/lists?cid=5')}">新西兰</a> <a
								href="{:U('Line/lists?cid=5')}">法国</a>
						</p></li>
					<li><strong><a href="{:U('Line/lists?cid=17')}">特价旅游</a></strong>
						<p>
							<a href="{:U('Line/lists?cid=17')}">团购</a> <a
								href="{:U('Line/lists?cid=17')}">亲子</a> <a
								href="{:U('Line/lists?cid=17')}">组团</a>
						</p></li>
					<li><strong><a href="{:U('Article/lists?cid=8')}">旅游咨询</a></strong>
						<p>
							<a href="{:U('Article/lists?cid=8')}">旅游向导</a> <a
								href="{:U('Article/lists?cid=8')}">攻略</a>
						</p></li>
				</ul>
			</div>
			<div class="nav_tag_con" id="nav_tag_con">
				<div class="hide_box" style="display: none;">
					<span class="line line1"></span> <span class="line"></span>
					<div class="txt1">
						<a href="{:U('Line/lists?cid=16')}">云南</a>
						<a href="{:U('Line/lists?cid=16')}">西安</a>
						<a href="{:U('Line/lists?cid=16')}">港澳</a>
						<a href="{:U('Line/lists?cid=16')}">凤凰古城</a>
						<a href="{:U('Line/lists?cid=16')}">北京</a>
						<a href="{:U('Line/lists?cid=16')}">新马泰</a>
						<a href="{:U('Line/lists?cid=16')}">泰国</a>
						<a href="{:U('Line/lists?cid=16')}">韩国</a>
						<a href="{:U('Line/lists?cid=16')}">日本</a>
						<a href="{:U('Line/lists?cid=16')}">海南</a>
						<a href="{:U('Line/lists?cid=16')}">毛里求斯</a>
					</div>
				</div>
				<div class="hide_box" style="display: none;">
					<span class="line line1 line2"></span> <span class="line line2"></span>
					<div class="txt1">
						<a href="{:U('Line/lists?cid=3')}">少林寺</a>
						<a href="{:U('Line/lists?cid=3')}">龙门石窟</a>
						<a href="{:U('Line/lists?cid=3')}">白马寺</a>
						<a href="{:U('Line/lists?cid=3')}">牡丹园</a>
						<a href="{:U('Line/lists?cid=3')}">龙潭峡</a>
						<a href="{:U('Line/lists?cid=3')}">木札岭</a>
						<a href="{:U('Line/lists?cid=3')}">神灵寨</a>
						<a href="{:U('Line/lists?cid=3')}">西泰山</a>
						<a href="{:U('Line/lists?cid=3')}">神农山</a>
						<a href="{:U('Line/lists?cid=3')}">方特</a>
						<a href="{:U('Line/lists?cid=3')}">老君山</a>
						<a href="{:U('Line/lists?cid=3')}">重渡沟</a>
						<a href="{:U('Line/lists?cid=3')}">白云山</a>
						<a href="{:U('Line/lists?cid=3')}">世纪欢乐园</a>
						<a href="{:U('Line/lists?cid=3')}">双龙湾</a>
						<a href="{:U('Line/lists?cid=3')}">养子沟</a>
						<a href="{:U('Line/lists?cid=3')}">天池山</a>
						<a href="{:U('Line/lists?cid=3')}">伏牛山</a>
						<a href="{:U('Line/lists?cid=3')}">鸡冠洞</a>
						<a href="{:U('Line/lists?cid=3')}">龙峪湾</a>
						<a href="{:U('Line/lists?cid=3')}">皇城相府</a>
					</div>
				</div>
				<div class="hide_box" style="display: none;">
					<span class="line line1 line3"></span> <span class="line line3"></span>
					<div class="txt2">
						<dl class="">
							<dt><a href="{:U('Line/lists?cid=4')}">四川</a></dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">九寨沟</a>
								<a href="{:U('Line/lists?cid=4')}">峨眉山</a>
								<a href="{:U('Line/lists?cid=4')}">康定</a>
								<a href="{:U('Line/lists?cid=4')}">海螺沟</a>
								<a href="{:U('Line/lists?cid=4')}">西昌</a>
								<a href="{:U('Line/lists?cid=4')}">蜀南竹海</a>
								<a href="{:U('Line/lists?cid=4')}">燕子沟</a>
								<a href="{:U('Line/lists?cid=4')}">都江堰</a>
								<a href="{:U('Line/lists?cid=4')}">西岭雪山</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">云南</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">丽江</a>
								<a href="{:U('Line/lists?cid=4')}">香格里拉</a>
								<a href="{:U('Line/lists?cid=4')}">泸沽湖</a>
								<a href="{:U('Line/lists?cid=4')}">大理</a>
								<a href="{:U('Line/lists?cid=4')}">昆明</a>
								<a href="{:U('Line/lists?cid=4')}">西双版纳</a>
								<a href="{:U('Line/lists?cid=4')}">腾冲</a>
								<a href="{:U('Line/lists?cid=4')}">普者黑</a>
								<a href="{:U('Line/lists?cid=4')}">玉龙雪山</a>
								<a href="{:U('Line/lists?cid=4')}">瑞丽</a>
								<a href="{:U('Line/lists?cid=4')}">双廊</a>
								<a href="{:U('Line/lists?cid=4')}">洱海</a>
								<a href="{:U('Line/lists?cid=4')}">虎跳峡</a>
								<a href="{:U('Line/lists?cid=4')}">普达措</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">海南</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">三亚</a>
								<a href="{:U('Line/lists?cid=4')}">海口</a>
								<a href="{:U('Line/lists?cid=4')}">蜈支洲岛</a>
								<a href="{:U('Line/lists?cid=4')}">天涯海角</a>
								<a href="{:U('Line/lists?cid=4')}">分界洲岛</a>
								<a href="{:U('Line/lists?cid=4')}">亚龙湾沙滩</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?keywords=华东')}">华东</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?keywords=上海')}">上海</a>
								<a href="{:U('Line/lists?keywords=杭州')}">杭州</a>
								<a href="{:U('Line/lists?keywords=苏州')}">苏州</a>
								<a href="{:U('Line/lists?keywords=厦门')}">厦门</a>
								<a href="{:U('Line/lists?keywords=鼓浪屿')}">鼓浪屿</a>
								<a href="{:U('Line/lists?keywords=黄山')}">黄山</a>
								<a href="{:U('Line/lists?keywords=千岛湖')}">千岛湖</a>
								<a href="{:U('Line/lists?keywords=武夷山')}">武夷山</a>
								<a href="{:U('Line/lists?keywords=普陀山')}">普陀山</a>
								<a href="{:U('Line/lists?keywords=乌镇')}">乌镇</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">广西</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">桂林</a>
								<a href="{:U('Line/lists?cid=4')}">北海</a>
								<a href="{:U('Line/lists?cid=4')}">涠洲岛</a>
								<a href="{:U('Line/lists?cid=4')}">龙脊梯田</a>
								<a href="{:U('Line/lists?cid=4')}">南宁</a>
								<a href="{:U('Line/lists?cid=4')}">巴马</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">北京</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">北京</a>
								<a href="{:U('Line/lists?cid=4')}">天津</a>
								<a href="{:U('Line/lists?cid=4')}">北戴河</a>
								<a href="{:U('Line/lists?cid=4')}">石家庄</a>
								<a href="{:U('Line/lists?cid=4')}">承德</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">西藏</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">拉萨</a>
								<a href="{:U('Line/lists?cid=4')}">林芝</a>
								<a href="{:U('Line/lists?cid=4')}">纳木错</a>
								<a href="{:U('Line/lists?cid=4')}">日喀则</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">贵州</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">赤水</a>
								<a href="{:U('Line/lists?cid=4')}">荔波</a>
								<a href="{:U('Line/lists?cid=4')}">西江苗寨</a>
								<a href="{:U('Line/lists?cid=4')}">黄果树</a>
								<a href="{:U('Line/lists?cid=4')}">镇远</a>
								<a href="{:U('Line/lists?cid=4')}">遵义</a>
								<a href="{:U('Line/lists?cid=4')}">梵净山</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">西北</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">西安</a>
								<a href="{:U('Line/lists?cid=4')}">内蒙希拉穆仁</a>
								<a href="{:U('Line/lists?cid=4')}">中卫沙坡头</a>
								<a href="{:U('Line/lists?cid=4')}">西宁青海湖</a>
								<a href="{:U('Line/lists?cid=4')}">敦煌莫高窟</a>
								<a href="{:U('Line/lists?cid=4')}">额济纳旗</a>
								<a href="{:U('Line/lists?cid=4')}">延安</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">湖南</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">张家界</a>
								<a href="{:U('Line/lists?cid=4')}">凤凰古城</a>
								<a href="{:U('Line/lists?cid=4')}">袁家界</a>
								<a href="{:U('Line/lists?cid=4')}">韶山</a>
								<a href="{:U('Line/lists?cid=4')}">南昌庐山</a>
								<a href="{:U('Line/lists?cid=4')}">景德镇</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">新疆</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">天山天池</a>
								<a href="{:U('Line/lists?cid=4')}">吐鲁番</a>
								<a href="{:U('Line/lists?cid=4')}">喀纳斯</a>
								<a href="{:U('Line/lists?cid=4')}">魔鬼城</a>
								<a href="{:U('Line/lists?cid=4')}">赛里木湖</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">东北</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">哈尔滨</a>
								<a href="{:U('Line/lists?cid=4')}">满洲里</a>
								<a href="{:U('Line/lists?cid=4')}">海拉尔</a>
								<a href="{:U('Line/lists?cid=4')}">呼伦贝尔</a>
								<a href="{:U('Line/lists?cid=4')}">雪乡</a>
								<a href="{:U('Line/lists?cid=4')}">长白山</a>
								<a href="{:U('Line/lists?cid=4')}">沈阳</a>
								<a href="{:U('Line/lists?cid=4')}">吉林</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?cid=4')}">湖北</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?cid=4')}">恩施</a>
								<a href="{:U('Line/lists?cid=4')}">大峡谷</a>
								<a href="{:U('Line/lists?cid=4')}">腾龙洞</a>
								<a href="{:U('Line/lists?cid=4')}">武当山</a>
								<a href="{:U('Line/lists?cid=4')}">神农架</a>
							</dd>
						</dl>
						<!-- 
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?keywords=广东')}">广东</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?keywords=广州')}">广州</a>
								<a href="{:U('Line/lists?keywords=深圳')}">深圳</a>
								<a href="{:U('Line/lists?keywords=珠海')}">珠海</a>
								<a href="{:U('Line/lists?keywords=长隆')}">长隆</a>
							</dd>
						</dl>
						 -->
					</div>
				</div>
				<div class="hide_box" style="display: none;">
					<span class="line line1 line4"></span> <span class="line line4"></span>
					<div class="txt4">
						<dl class="">
							<dt><a href="{:U('Line/lists?keywords=欧洲')}">欧洲</a></dt>
							<dd>
								<a href="{:U('Line/lists?keywords=法国')}">法国</a>
								<a href="{:U('Line/lists?keywords=瑞士')}">瑞士</a>
								<a href="{:U('Line/lists?keywords=意大利')}">意大利</a>
								<a href="{:U('Line/lists?keywords=德国')}">德国</a>
								<a href="{:U('Line/lists?keywords=希腊')}">希腊</a>
								<a href="{:U('Line/lists?keywords=英国')}">英国</a>
								<a href="{:U('Line/lists?keywords=爱尔兰')}">爱尔兰</a>
								<a href="{:U('Line/lists?keywords=俄罗斯')}">俄罗斯</a>
								<a href="{:U('Line/lists?keywords=北欧')}">北欧</a>
								<a href="{:U('Line/lists?keywords=东欧')}">东欧</a>
								<a href="{:U('Line/lists?keywords=西班牙')}">西班牙</a>
								<a href="{:U('Line/lists?keywords=葡萄牙')}">葡萄牙</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?keywords=亚洲')}">亚洲</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?keywords=韩国')}">韩国</a>
								<a href="{:U('Line/lists?keywords=日本')}">日本</a>
								<a href="{:U('Line/lists?keywords=北海道')}">北海道</a>
								<a href="{:U('Line/lists?keywords=泰国')}">泰国</a>
								<a href="{:U('Line/lists?keywords=清迈')}">清迈</a>
								<a href="{:U('Line/lists?keywords=清莱')}">清莱</a>
								<a href="{:U('Line/lists?keywords=新加坡')}">新加坡</a>
								<a href="{:U('Line/lists?keywords=马来西亚')}">马来西亚</a>
								<a href="{:U('Line/lists?keywords=新马泰')}">新马泰</a>
								<a href="{:U('Line/lists?keywords=柬埔寨')}">柬埔寨</a>
								<a href="{:U('Line/lists?keywords=尼泊尔')}">尼泊尔</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?keywords=海岛')}">海岛</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?keywords=苏梅岛')}">苏梅岛</a>
								<a href="{:U('Line/lists?keywords=长滩岛')}">长滩岛</a>
								<a href="{:U('Line/lists?keywords=塞班岛')}">塞班岛</a>
								<a href="{:U('Line/lists?keywords=巴厘岛')}">巴厘岛</a>
								<a href="{:U('Line/lists?keywords=普吉岛')}">普吉岛</a>
								<a href="{:U('Line/lists?keywords=沙巴')}">沙巴</a>
								<a href="{:U('Line/lists?keywords=马尔代夫')}">马尔代夫</a>
								<a href="{:U('Line/lists?keywords=毛里求斯')}">毛里求斯</a>
								<a href="{:U('Line/lists?keywords=帕劳')}">帕劳</a>
								<a href="{:U('Line/lists?keywords=斯里兰卡')}">斯里兰卡</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?keywords=美洲')}">美洲</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?keywords=美国')}">美国</a>
								<a href="{:U('Line/lists?keywords=加拿大')}">加拿大</a>
								<a href="{:U('Line/lists?keywords=夏威夷')}">夏威夷</a>
								<a href="{:U('Line/lists?keywords=夏威夷')}">夏威夷</a>
								<a href="{:U('Line/lists?keywords=巴西')}">巴西</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?keywords=大洋洲')}">大洋洲</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?keywords=澳大利亚')}">澳大利亚</a>
								<a href="{:U('Line/lists?keywords=新西兰')}">新西兰</a>
								<a href="{:U('Line/lists?keywords=斐济')}">斐济</a>
								<a href="{:U('Line/lists?keywords=大溪地')}">大溪地</a>
							</dd>
						</dl>
						<dl class="">
							<dt>
								<a href="{:U('Line/lists?keywords=中东非')}">中东非</a>
							</dt>
							<dd>
								<a href="{:U('Line/lists?keywords=阿联酋')}">阿联酋</a>
								<a href="{:U('Line/lists?keywords=迪拜')}">迪拜</a>
								<a href="{:U('Line/lists?keywords=埃及')}">埃及</a>
								<a href="{:U('Line/lists?keywords=土耳其')}">土耳其</a>
								<a href="{:U('Line/lists?keywords=南非')}">南非</a>
								<a href="{:U('Line/lists?keywords=肯尼亚')}">肯尼亚</a>
								<a href="{:U('Line/lists?keywords=塞舌尔')}">塞舌尔</a>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<ul class="nav fl">
			<!-- <foreach name="menu_list" item="vo" > -->
			<li><a href="{:U($vo['linkurl'])}">{$vo['classname']}</a></li>
			<!-- </foreach> -->
		</ul>
	</div>
</div>
<!-- 导航 end -->

