<div class="hotlvyou">
	<div class="sitewidth">
		<div class="title">
			<div class="fl">热门旅游</div>
			<div class="tab fr">
				<a href="{:U('Line/lists?cid=16')}" class="active">舒翔推荐</a>
				<a href="{:U('Line/lists?cid=3')}">周边旅游</a>
			</div>
		</div>
		<div class="piclist">
			<ul>
				<!-- <foreach name="remen" item="vo" > -->
				<li>
					<div class="pic">
						<a href="{:U('Line/info?id='.$vo['id'])}" title="{$vo['title']}"><img src="{$vo['picurl']}" alt="{$vo['title']}" /></a>
					</div>
					<div class="text">
						<div class="head"><a href="{:U('Line/info?id='.$vo['id'])}" title="{$vo['title']}">{$vo['title']}</a></div>
						<div class="body">
							<div class="miaoshu fl">￥<span>{:intval($vo['price'])}</span>起</div>
							<div class="chakan fl"><a href="{:U('Line/info?id='.$vo['id'])}" title="{$vo['title']}">查看详情</a></div>
						</div>
					</div>
				</li>
				<!-- </foreach> -->
			</ul>
		</div>
	</div>
</div>