
		<div class="main-sider fl">
			<div class="line-search">
				<div class="head">路线查询</div>
				<div class="search">
					<form name="linesearch" method="get" action="{:U('Line/lists')}">
						<input class="search_text fl" type="search" name="keywords" />
						<input class="search_btn fl" type="submit" value="搜索" />
					</form>
				</div>
				<div class="hot">
				<!-- <foreach name="list" item="vo" > -->
					<a href="{:U('Line/lists?keywords='.$vo['dataname'])}" target="_blank">{$vo['dataname']}</a>
				<!-- </foreach> -->
				</div>
			</div>
			<div>
			<!-- <foreach name="sider_ad" item="vo" > -->
				<!-- <if condition="$vo['linkurl']"> -->
				<a href="{$vo['linkurl']}">
					<img alt="" src="{$vo['picurl']}" width="100%">
				</a>
				<!-- <else /> -->
				<img alt="" src="{$vo['picurl']}" width="100%">
				<!-- </if> -->
			<!-- </foreach> -->
			</div>
		</div>