
		<div class="main-sider fl">
			<div class="line-search">
				<div class="head">路线查询</div>
				<div class="search">
					<form name="linesearch" method="get" action="{:U('Line/lists')}">
						<input class="search_text fl" type="search" name="keywords" />
						<input class="search_btn fl" type="submit" value="搜索" />
					</form>
				</div>
				<div class="hot">
					<a href="{:U('Line/lists?keywords=老君山')}" target="_blank">老君山</a>
					<a href="{:U('Line/lists?keywords=龙门石窟')}" target="_blank">龙门石窟</a>
					<a href="{:U('Line/lists?keywords=鸡冠洞')}" target="_blank">鸡冠洞</a>
					<a href="{:U('Line/lists?keywords=白马寺')}" target="_blank">白马寺</a>
					<a href="{:U('Line/lists?keywords=少林寺')}" target="_blank">少林寺</a>
					<a href="{:U('Line/lists?keywords=王城公园')}" target="_blank">王城公园</a>
					<a href="{:U('Line/lists?keywords=老君山')}" target="_blank">老君山</a>
					<a href="{:U('Line/lists?keywords=龙门石窟')}" target="_blank">龙门石窟</a>
					<a href="{:U('Line/lists?keywords=鸡冠洞')}" target="_blank">鸡冠洞</a>
					<a href="{:U('Line/lists?keywords=白马寺')}" target="_blank">白马寺</a>
					<a href="{:U('Line/lists?keywords=少林寺')}" target="_blank">少林寺</a>
					<a href="{:U('Line/lists?keywords=王城公园')}" target="_blank">王城公园</a>
					<a href="{:U('Line/lists?keywords=老君山')}" target="_blank">老君山</a>
					<a href="{:U('Line/lists?keywords=龙门石窟')}" target="_blank">龙门石窟</a>
					<a href="{:U('Line/lists?keywords=鸡冠洞')}" target="_blank">鸡冠洞</a>
					<a href="{:U('Line/lists?keywords=白马寺')}" target="_blank">白马寺</a>
					<a href="{:U('Line/lists?keywords=少林寺')}" target="_blank">少林寺</a>
					<a href="{:U('Line/lists?keywords=王城公园')}" target="_blank">王城公园</a>
					<a href="{:U('Line/lists?keywords=老君山')}" target="_blank">老君山</a>
					<a href="{:U('Line/lists?keywords=龙门石窟')}" target="_blank">龙门石窟</a>
					<a href="{:U('Line/lists?keywords=鸡冠洞')}" target="_blank">鸡冠洞</a>
					<a href="{:U('Line/lists?keywords=白马寺')}" target="_blank">白马寺</a>
					<a href="{:U('Line/lists?keywords=少林寺')}" target="_blank">少林寺</a>
					<a href="{:U('Line/lists?keywords=王城公园')}" target="_blank">王城公园</a>
				</div>
			</div>
			<div><img alt="" src="__IMG__/main-silder-img.jpg" width="100%"></div>
		</div>