			<div class="inside-tuandui">
				<div class="head">
					团队风采
					<div class="more fr"><a href="{:U('Image/lists?cid=29')}">更多>></a></div>
				</div>
				<div class="body">
					<ul id="tuandui_pics">
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
					</ul>
				</div>
			</div>
			