<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<include file="Widget/head" />
	<link href="__CSS__/m_inside.css" rel="stylesheet">
</head>

<body>

<div class="city_top clearfix">
	<a class="back" href="javascript:history.go(-1);">返回</a>
	<a class="city_tit">产品详情</a>
</div>

<div class="m-main">
	<div class="line-info-device">
		<img src="{$info['picurl']}" width="100%" height="auto">
	</div>

	<div class="show-jc-js">

		<div class="bt-box">
			<h1 class="tit">{$info['title']}</h1>
			<p class="txt">{$info['description']}</p>
		</div>

		<ul>
			<li class="li_1">
				<p>
					<span><em>¥{$info['price']}</em> 起</span>
				</p>
			</li>
			<li class="li_2">
			<!-- <if condition="$attr eq 'zc'"> -->
				<!-- 租车 -->
				<p>座位数量：{$info['zuowei']}</p>
				<p>目的地：{$info['mudidi']}</p>
			<!-- <elseif condition="$attr eq 'qz'"/> -->
				<!-- 签证 -->
				<p>签证国家：{$info['qzguojia']}</p>
				<p>签证类别：{$info['qzleibie']|default="旅游签证"}</p>
				<p>办理时间：{$info['qzblsj']|default="以使馆签发为准"}</p>
				<p>是否面试：{$info['qzmianshi']|default="不需要"}</p>
				<p>邀请函：{$info['qzyqh']|default="不需要"}</p>
				<p>受理范围：{$info['qzslfw']}</p>
			<!-- </if> -->
			</li>
		</ul>

	</div>
	<div class="show-list-js">
		<!-- <if condition="$info['qijiashuoming']"> -->
		<div class="list-con mt10">
			<h3 class="tit">起价说明</h3>
			<div class="txt">{$info['qijiashuoming']}</div>
		</div>
		<!-- </if> -->

		<div class="list-con mt10">
			<h3 class="tit">详情介绍</h3>
			<div class="txt">{$info['content']}</div>
		</div>

	</div>
</div>

<include file="Widget/Foot" />

<div class="opy"></div>
<div class="bom_fix_box">
	<a class="cell_phone" href="tel:{$info['yuding']|default='18613798120'}">{$info['yuding']|default="18613798120"}</a>
</div>
<!-- 
<script type="text/javascript" src="__JS__/idangerous.swiper.js"></script>
<script>
/*
    var mySwiper = new Swiper('.swiper1',{
    pagination: '.pagination',
    paginationClickable: true,
    slidesPerView: 'auto'
  });
    */
/*  $(function(){
       if($('.list-con img').length>0){
           var wp = $(window).width()-100;
           $('.list-con img').css('width', wp+'px' );
       }
   })*/
</script>
 -->
</body></html>