<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>{$Think.config.cfg_seotitle}</title>
	<meta name="keywords" content="{$Think.config.cfg_keyword}" />
	<meta name="description" content="{$Think.config.cfg_description}" />
	
	<!-- font-awesome -->
	<link href="__PUBLIC__/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
	
	<!-- home basic css -->
	<link href="__CSS__/home.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="__JS__/html5shiv.min.js"></script>
	<script src="__JS__/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- 顶部状态栏start -->
<div class="top_status">
	<div class="sitewidth">
		<div class="fl">{$Think.config.cfg_welcome}</div>
		<div class="fr guanzhu">
			<a href="#"><i class="fa fa-weibo"></i></a>
			<a href="#"><i class="fa fa-mobile" style="font-size:22px;"></i></a>
			<a href="#"><i class="fa fa-weixin"></i></a>
		</div>
		<div class="fr links">
			<a class="orange" href="#">一键收藏</a>
			<a href="#">关于我们</a>
			<a href="#">联系我们</a>
		</div>
	</div>
</div>
<!-- 顶部状态栏end -->

<!-- 头部start -->
<div class="header">
	<div class="sitewidth">
		<div class="fl logo"><img src="__IMG__/logo.png" /></div>
		<div class="fl search_hotline">
			<div class="fl search">
				<form name="topsearch" method="get" action="">
					<input class="search_text fl" type="search" name="keywords" placeholder="请输入目的地名称或线路关键词" />
					<input class="search_btn fl" type="submit" value="" />
				</form>
			</div>
			<div class="fl hotline">
				<div class="hotline_img fl"></div>
				<div class="hotline_text fl">18736322037</div>
			</div>
		</div>
	</div>
</div>

<!-- 头部end -->

<!-- 导航 start -->
<div class="navicat">
	<div class="sitewidth">
		<div class="first fl">热门产品分类</div>
		<div class="category"></div>
		<ul class="nav fl">
			<li><a href="#">首页</a></li>
			<li><a href="#">出境</a></li>
			<li><a href="#">国内</a></li>
			<li><a href="#">洛阳周边</a></li>
			<li><a href="#">护照签证</a></li>
			<li><a href="#">旅游租车</a></li>
			<li><a href="#">旅游攻略</a></li>
			<li><a href="#">客户留言</a></li>
			<li><a href="#">关于我们</a></li>
		</ul>
	</div>
</div>
<div class="banner">
	<div class="sitewidth">
		<div id="slideplay">
			<ul>
				<li><a href="javascript:;"><img src="templates/default/images/imgdata/slideimg_5.jpg" alt="亚洲首台千吨级全地面起重机SAC12000 2.0兆风电吊装圆满成功" /></a></li>
				<li><a href="javascript:;"><img src="templates/default/images/imgdata/slideimg_4.jpg" alt="唐家璇：三一重工为国家争了光" /></a></li>
				<li><a href="javascript:;"><img src="templates/default/images/imgdata/slideimg_3.jpg" alt="三一获评《财富》十大“最受赞赏中国公司”" /></a></li>
				<li><a href="javascript:;"><img src="templates/default/images/imgdata/slideimg_2.jpg" alt="三一产品获八项第一" /></a></li>
				<li><a href="javascript:;"><img src="templates/default/images/imgdata/slideimg_1.jpg" alt="三一重工86米世界最长臂架泵车下线" /></a></li>
			</ul>
		</div>
		<div class="news fl">
			<div class="notice">
				<div class="content">三天的行程整体安排很好，紧凑但是不累，主要节奏还是看自己···      2015-01-26	三天的行程整体安排很好，紧凑但是不累，主要节奏还是看自己···</div>
				<div class="date">2015-01-26</div>
			</div>
			<div class="dongtai" id="yk_dt">
				<p>杨** 等2人 今日预定了 <a href='#' target='_blank'> 品质团—九寨沟、岷江源汽车4日游（无自费）</a></p>
				<p>杨** 等2人 今日预定了 <a href='#' target='_blank'> 品质团—九寨沟、岷江源汽车4日游（无自费）</a></p>
				<p>杨** 等2人 今日预定了 <a href='#' target='_blank'> 品质团—九寨沟、岷江源汽车4日游（无自费）</a></p>
				<p>杨** 等2人 今日预定了 <a href='#' target='_blank'> 品质团—九寨沟、岷江源汽车4日游（无自费）</a></p>
				<p>杨** 等2人 今日预定了 <a href='#' target='_blank'> 品质团—九寨沟、岷江源汽车4日游（无自费）</a></p>
			</div>
		</div>
	</div>
</div>
<!-- 导航 end -->

<!-- 热门旅游start -->
<div class="hotlvyou">
	<div class="sitewidth">
		<div class="title">
			<div class="fl">热门旅游</div>
			<div class="tab fr">
				<a href="#" class="active">舒翔推荐</a>
				<a href="#">周边旅游</a>
			</div>
		</div>
		<div class="piclist">
			
		</div>
	</div>
</div>
<!-- 热门旅游end -->

<!-- 当季热门start -->
<div class="">当季热门</div>
<!-- 当季热门end -->

<!-- 周末去哪儿start -->
<div class="">周末去哪儿</div>
<!-- 周末去哪儿end -->

<!-- 特价,推荐,风采start -->
<div class="">特价,推荐,风采</div>
<!-- 特价,推荐,风采end -->

<!-- 底部start -->
<div class="">底部</div>
<!-- 底部end -->

<!-- JS script include start -->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->
<!-- JS script include start end -->
<script type="text/javascript" src="__JS__/slideplay.js"></script>
<script type="text/javascript" src="__JS__/index.js"></script>

<script type="text/javascript">
</script>

</body>
</html>