<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<include file="Widget/head" />
</head>
<body>
{:W('Page/Menu')}

<div class="banner">
	<div class="sitewidth">
		<div id="slideplay">
			<ul>
			<!-- <foreach name="ads[1]" item="vo" > -->
				<li>
					<!-- <if condition="$vo['linkurl']"> -->
					<a href="{$vo['linkurl']}">
						<img src="{$vo['picurl']}" alt="" />
					</a>
					<!-- <else /> -->
						<img alt="" src="{$vo['picurl']}">
					<!-- </if> -->
				</li>
			<!-- </foreach> -->
			</ul>
		</div>
		<div class="news fl">
			<div class="notice">
				<div class="content"><a href="{:U('Article/info?id='.$gonggao['id'])}" target="_blank">{:ReStrLen(strip_tags($gonggao['content']),32)}</a></div>
				<div class="date">{:date('Y-m-d',$gonggao['posttime'])}</div>
			</div>
			<div class="dongtai" id="yk_dt">
				<p>杨** 等2人 今日预定了 <a href='#' target='_blank'> 品质团—九寨沟、岷江源汽车4日游（无自费）</a></p>
				<p>杨** 等2人 今日预定了 <a href='#' target='_blank'> 品质团—九寨沟、岷江源汽车4日游（无自费）</a></p>
				<p>杨** 等2人 今日预定了 <a href='#' target='_blank'> 品质团—九寨沟、岷江源汽车4日游（无自费）</a></p>
				<p>杨** 等2人 今日预定了 <a href='#' target='_blank'> 品质团—九寨沟、岷江源汽车4日游（无自费）</a></p>
				<p>杨** 等2人 今日预定了 <a href='#' target='_blank'> 品质团—九寨沟、岷江源汽车4日游（无自费）</a></p>
			</div>
		</div>
	</div>
</div>

<!-- 热门旅游start -->
{:W('Page/Remen')}
<!-- 热门旅游end -->

<!-- 当季热门start -->
<div class="dangji idx_list">
	<div class="sitewidth">
		<div class="head">
			<div class="title fl">当季热门跟团</div>
			<div class="group fl">
				<div class="remen fl">
					热门：
					<a href="{:U('Line/lists?keywords=云南')}" target="_blank">云南</a>
					<a href="{:U('Line/lists?keywords=大理')}" target="_blank">大理</a>
					<a href="{:U('Line/lists?keywords=海南')}" target="_blank">海南</a>
					<a href="{:U('Line/lists?keywords=桂林')}" target="_blank">桂林</a>
					<a href="{:U('Line/lists?keywords=丽江')}" target="_blank">丽江</a>
					<a href="{:U('Line/lists?keywords=昆明')}" target="_blank">昆明</a>
				</div>
				<div class="tab fl">
					<a href="#" class="active">国内旅游</a>
					<a href="#">出境旅游</a>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="bigimg fl">
				<!-- <if condition="$ads[2][0]['picurl']"> -->
				<img src="{$ads[2][0]['picurl']}">
				<!-- </if> -->
			</div>
			<div class="piclist fl">
				<ul>
				<!-- <foreach name="dangji" item="vo" > -->
					<li>
						<div class="pic"><a href="{:U('Line/info?id='.$vo['id'])}"><img src="{$vo['picurl']}" /></a></div>
						<div class="title"><a href="{:U('Line/info?id='.$vo['id'])}" title="{$vo['title']}">{$vo['title']}</a></div>
						<div class="price fl">￥<span>{:intval($vo['price'])}</span>起</div>
						<div class="manyi fr">满意度 100%</div>
					</li>
				<!-- </foreach> -->
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 当季热门end -->

<!-- 周末去哪儿start -->
<div class="zhoumo idx_list">
	<div class="sitewidth">
		<div class="head">
			<div class="title fl">周末去哪儿</div>
			<div class="group fl">
				<div class="remen fl">
					热门：
					<a href="{:U('Line/lists?keywords=龙门石窟')}" target="_blank">龙门石窟</a>
					<a href="{:U('Line/lists?keywords=白马寺')}" target="_blank">白马寺</a>
					<a href="{:U('Line/lists?keywords=少林寺')}" target="_blank">少林寺</a>
					<a href="{:U('Line/lists?keywords=关公故里')}" target="_blank">关公故里</a>
					<a href="{:U('Line/lists?keywords=古墓博物馆')}" target="_blank">古墓博物馆</a>
				</div>
				<div class="tab fl">
					<a href="#" class="active">洛阳市区</a>
					<a href="#">洛阳周边</a>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="bigimg fl">
				<!-- <if condition="$ads[2][0]['picurl']"> -->
				<img src="{$ads[2][0]['picurl']}">
				<!-- </if> -->
			</div>
			<div class="piclist fl">
				<ul>
				<!-- <foreach name="zhoumo" item="vo" > -->
					<li>
						<div class="pic"><a href="{:U('Line/info?id='.$vo['id'])}"><img src="{$vo['picurl']}" /></a></div>
						<div class="title"><a href="{:U('Line/info?id='.$vo['id'])}" title="{$vo['title']}">{$vo['title']}</a></div>
						<div class="price fl">￥<span>{:intval($vo['price'])}</span>起</div>
						<div class="manyi fr">满意度 100%</div>
					</li>
				<!-- </foreach> -->
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 周末去哪儿end -->

<!-- 特价,推荐,风采start -->
<div class="t-t-f">
	<div class="sitewidth">
		<div class="left fl">
			<div class="tejia">
				<div class="head">
					特价旅游
					<div class="more fr"><a href="#">更多>></a></div>
				</div>
				<div class="body">
				<!-- <foreach name="ads[4]" item="vo" > -->
					<div class="list">
						<!-- <if condition="$vo['linkurl']"> -->
						<a href="{$vo['linkurl']}"><img alt="" src="{$vo['picurl']}"></a>
						<!-- <else /> -->
						<img alt="" src="{$vo['picurl']}">
						<!-- </if> -->
					</div>
				<!-- </foreach> -->
				</div>
			</div>
			<div class="tuandui">
				<div class="head">
					团队风采
					<div class="more fr"><a href="#">更多>></a></div>
				</div>
				<div class="body">
					<ul id="tuandui_pics">
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
						<li>
							<div class="pic"><a href="#" target="_blank"><img src="__IMG__/tmp_tuandui.jpg" /></a></div>
							<div class="title"><a href="#" target="_blank">到某地旅游合影</a></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="right fl">
			<div class="head">
				<div class="name">本周为您推荐</div>
				<div class="dis">欢迎进入舒翔假期旅游网&nbsp;&nbsp;百万会员为您推荐</div>
			</div>
			<div class="list">
				<div class="tit">
					亲子游
					<span class="dis">最受欢迎的选择</span>
				</div>
				<ul>
					<li>
						<div class="name"><a href="#">郑州欢乐园</a></div>
						<div class="dis fl">会员价格：<span class="price">50元</span></div>
						<div class="dis fr">好评率：<span class="haoping">100%</span></div>
					</li>
					<li>
						<div class="name"><a href="#">龙华欢乐谷</a></div>
						<div class="dis fl">会员价格：<span class="price">50元</span></div>
						<div class="dis fr">好评率：<span class="haoping">100%</span></div>
					</li>
					<li>
						<div class="name"><a href="#">薰衣草庄园</a></div>
						<div class="dis fl">会员价格：<span class="price">50元</span></div>
						<div class="dis fr">好评率：<span class="haoping">100%</span></div>
					</li>
				</ul>
			</div>
			<div class="list">
				<div class="tit">
					情侣游
					<span class="dis">最受欢迎的选择</span>
				</div>
				<ul>
					<li>
						<div class="name"><a href="#">郑州欢乐园</a></div>
						<div class="dis fl">会员价格：<span class="price">50元</span></div>
						<div class="dis fr">好评率：<span class="haoping">100%</span></div>
					</li>
					<li>
						<div class="name"><a href="#">龙华欢乐谷</a></div>
						<div class="dis fl">会员价格：<span class="price">50元</span></div>
						<div class="dis fr">好评率：<span class="haoping">100%</span></div>
					</li>
					<li>
						<div class="name"><a href="#">薰衣草庄园</a></div>
						<div class="dis fl">会员价格：<span class="price">50元</span></div>
						<div class="dis fr">好评率：<span class="haoping">100%</span></div>
					</li>
				</ul>
			</div>
			<div class="list">
				<div class="tit">
					假日游
					<span class="dis">最受欢迎的选择</span>
				</div>
				<ul>
					<li>
						<div class="name"><a href="#">郑州欢乐园</a></div>
						<div class="dis fl">会员价格：<span class="price">50元</span></div>
						<div class="dis fr">好评率：<span class="haoping">100%</span></div>
					</li>
					<li>
						<div class="name"><a href="#">龙华欢乐谷</a></div>
						<div class="dis fl">会员价格：<span class="price">50元</span></div>
						<div class="dis fr">好评率：<span class="haoping">100%</span></div>
					</li>
					<li>
						<div class="name"><a href="#">薰衣草庄园</a></div>
						<div class="dis fl">会员价格：<span class="price">50元</span></div>
						<div class="dis fr">好评率：<span class="haoping">100%</span></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 特价,推荐,风采end -->

{:W('Page/Foot')}

<script type="text/javascript" src="__JS__/slideplay.js"></script>
<script type="text/javascript" src="__JS__/index.js"></script>
<script type="text/javascript" src="__JS__/jquery.SuperSlide.2.1.1.js"></script>

<script type="text/javascript">
jQuery(".t-t-f .tuandui .body").slide({mainCell:"#tuandui_pics",autoPage:true,effect:"left",autoPlay:true,scroll:1,vis:3,easing:"swing",delayTime:500,pnLoop:true,trigger:"mouseover",mouseOverStop:true});
</script>

</body>
</html>