<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>{$Think.config.cfg_seotitle}</title>
<meta name="keywords" content="{$Think.config.cfg_keyword}" />
<meta name="description" content="{$Think.config.cfg_description}" />

<!-- mobile basic css -->
<link href="__CSS__/mobile.css" rel="stylesheet">
<link href="__CSS__/m_base.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="__JS__/html5shiv.min.js"></script>
<script src="__JS__/respond.min.js"></script>
<![endif]-->