<!DOCTYPE html>
<html lang="zh-cn">
<head>
<include file="Widget/head" />
	<style type="text/css">
	#category {display: none;}
	</style>
</head>
<body>
{:W('Page/Menu')}

<!-- 面包屑 start -->
<div class="bread">
	<div class="sitewidth">
		<a class="toindex" href="{:U('Index/index')}">返回首页</a>
		<!-- <foreach name="bread" item="vo" key="k" > -->
		&nbsp;〉<a href="{:U('lists?cid='.$k.'&attr='.$attr)}">{$vo}</a>
		<!-- </foreach> -->
	</div>
</div>
<!-- 面包屑 end -->

<!-- 列表页内容 start -->
<div class="main">
	<div class="sitewidth">
		<!-- 左侧栏 start -->
		{:W('Page/Sider',array($thisclass))}
		<!-- 左侧栏 end -->
		<div class="main-info fl">
			<div class="main-info-title">
				<div class="title">{$info['title']}</div>
				<div class="dis">{$info['description']}</div>
				<div class="attr">
					<div class="pic fl">
						<img src="{$info['picurl']}">
					</div>
					<div class="text fl">
						<div class="attribute price">
							预订价格：<em>￥<b>{$info['price']}</b></em>起
							<!-- <if condition="$info['qijiashuoming']"> -->
							<span class="price_produce">
								<span>起价说明</span>
								<div class="detail_frame">
									<s></s>
									<div class="con">{$info['qijiashuoming']}</div>
								</div>
							</span>
							<!-- </if> -->
						</div>
						<!-- <if condition="$attr eq 'zc'"> -->
							<!-- 租车 -->
							<div class="attribute">座位数量：{$info['zuowei']}</div>
							<div class="attribute">目的地：{$info['mudidi']}</div>
							<div class="attribute">免费咨询/预订电话：{$info['yuding']|default="18613798120"}</div>
						<!-- <elseif condition="$attr eq 'qz'"/> -->
							<!-- 签证 -->
							<div class="attribute">签证国家：{$info['qzguojia']}</div>
							<div class="attribute">签证类别：{$info['qzleibie']|default="旅游签证"}</div>
							<div class="attribute">办理时间：{$info['qzblsj']|default="以使馆签发为准"}</div>
							<div class="attribute">是否面试：{$info['qzmianshi']|default="不需要"}</div>
							<div class="attribute">邀请函：{$info['qzyqh']|default="不需要"}</div>
							<div class="attribute">受理范围：{$info['qzslfw']}</div>
							<div class="attribute">免费咨询/预订电话：{$info['yuding']|default="18613798120"}</div>
						<!-- <elseif condition="$attr eq 'mp'"/> -->
							<!-- 门票 -->
							<div class="attribute">门票类型：{$info['mpleixing']}</div>
							<div class="attribute">票型：{$info['mppiaoxing']}</div>
							<div class="attribute">取票方式：{$info['mpqupiao']|default="门市自取"}</div>
							<div class="attribute">公司地址：{:C('cfg_company_address')}</div>
							<div class="attribute">免费咨询/预订电话：{$info['yuding']|default="18613798120"}</div>
						<!-- <elseif condition="$attr eq 'jd'"/> -->
							<!-- 酒店 -->
							<div class="attribute">酒店地址：{$info['jddizhi']}</div>
							<div class="attribute">所属城市：{$info['jdchengshi']}</div>
							<div class="attribute">酒店类别：{$info['jdleibie']}</div>
							<div class="attribute">免费咨询/预订电话：{$info['yuding']|default="18613798120"}</div>
						<!-- <else /> -->
							<!-- 普通 -->
						<!-- </if> -->
					</div>
				</div>
			</div>
			<div class="content">
				<div class="head"><span>详情介绍</span></div>
				<div class="body">
					{$info['content']}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cl"></div>
<!-- 列表页内容 end -->

<!-- 热门旅游start -->
{:W('Page/Remen')}
<!-- 热门旅游end -->

{:W('Page/Foot')}

<script type="text/javascript">
$(function($) {
	$("#cate-menu").mouseenter(function(){
		$("#category").show();
	});
	$("#cate-menu").mouseleave(function(){
		$("#category").hide();
	});
	$(".price_produce").mouseenter(function(){
		$(this).children(".detail_frame").show();
	});
	$(".price_produce").mouseleave(function(){
		$(this).children(".detail_frame").hide();
	});
});
</script>

</body>
</html>