<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<include file="Widget/head" />
	<link href="__CSS__/m_index.css" rel="stylesheet">
</head>

<body>
<div class="home_top clearfix">
	<div class="logo">
		<a href="{:U('Index/index')}">
			<img src="__IMG__/mobile_logo.png" alt="{:C('cfg_webname')}">
		</a>
	</div>
</div>

<div class="main_page clearfix">
	<!--首页滚动图片-->
	<div class="home-device">
		<div class="swiper-main">
			<div class="swiper-container swiper1">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="http://ys.stourweb.com/shouji/mdd/city/id/4213">
						<img alt="" src="uploads/image/20150319/1426729254.jpg">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="http://ys.stourweb.com/shouji/mdd/city/id/4213">
						<img alt="" src="uploads/image/20150319/1426729254.jpg">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="pagination pagination1"></div>
	</div>
	
	<div class="search_home clearfix">
	<form method="get" action="{:U('Line/lists')}" onsubmit="return check();">
		<input type="text" class="h_txt" id="keywords" name="keywords" value="" placeholder="搜索目的地">
		<input type="submit" class="h_btn" value=" ">
	</form>
	</div>
	
	<div class="home_menu">
		<p>
			<a class="mdd_ico" href="{:U('Line/lists?cid=3')}"><em></em>洛阳周边</a>
			<a class="xl_ico" href="{:U('Line/lists?cid=5')}"><em></em>出境</a>
			<a class="xc_ico" href="{:U('Line/lists?cid=4')}"><em></em>国内</a>
		</p>
		<p>
			<a class="zc_ico" href="{:U('Image/lists?cid=7&attr=zc')}"><em></em>旅游租车</a>
			<a class="qz_ico" href="{:U('Image/lists?cid=6&attr=qz')}"><em></em>护照签证</a>
			<a class="gl_ico" href="{:U('Article/lists?cid=8')}"><em></em>旅游攻略</a>
		</p>
	</div>
	
	<div class="pdt_con">
		<div class="xl_tit clearfix"><h3>热门旅游 /</h3> Tour</div>
		<!-- <foreach name="remen" item="vo" > -->
		<div class="pdt_list">
			<a href="{:U('Line/info?id='.$vo['id'])}">
				<div class="pdt_img">
					<img src="{$vo['picurl']}" alt="{$vo['title']}" width="90" height="64">
				</div>
				<div class="pdt_txt">
					<div class="pdt_box">
						<p class="p_tit">{$vo['title']}</p>
						<p class="p_pir">
							<strong>¥{:intval($vo['price'])}</strong> <span>查看详情</span>
						</p>
					</div>
				</div>
			</a>
		</div>
		<!-- </foreach> -->
		<!-- 查看更多
		<div class="ck_more">
		<a href="#">点击查看更多&gt;&gt;</a>
		</div>
		 -->
	</div>
</div>

<include file="Widget/Foot" />

<script type="text/javascript" src="__JS__/idangerous.swiper.js"></script>
<script>
var mySwiper = new Swiper('.swiper1',{
	pagination: '.pagination',
	paginationClickable: true,
	slidesPerView: 'auto'
});
function check() {
	var keyword = $("#keywords").val();
	if(keyword==''){
		alert("请输入目的地");
		return false;
	}
	return true;
}
</script>
</body>
</html>