<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<include file="Widget/head" />
</head>

<body>
<div class="home_top clearfix">
  <div class="logo">
    <a href="./思途CMS演示网站首页-思途CMS演示网站_files/思途CMS演示网站首页-思途CMS演示网站.html">
      <img src="./思途CMS演示网站首页-思途CMS演示网站_files/20141201101934.jpg" alt="思途CMS演示网站">
      </a>
    </div>
<img src="./思途CMS演示网站首页-思途CMS演示网站_files/hm.gif" width="0" height="0">
    <div class="user_login">
            <a class="" href="http://ys.stourweb.com/shouji/user/login">登录/</a>
       <a class="" href="http://ys.stourweb.com/shouji/user/register?forwardurl=">注册</a>
               /<a class="" href="http://ys.stourweb.com/shouji/page/query">订单查询</a>
    </div>
  </div>
  <script language="JavaScript">
      var SITEURL = "/shouji/";
  </script>
  <div class="main_page clearfix">
  
  <!--首页滚动图片-->
    <div class="home-device">
      <div class="swiper-main">
        <div class="swiper-container swiper1">
          <div class="swiper-wrapper" style="padding-left: 0px; padding-right: 0px; width: 640px; height: 200px;">
                                          <div class="swiper-slide swiper-slide-visible swiper-slide-active"> <a href="http://ys.stourweb.com/shouji/mdd/city/id/4213"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20141201102439.jpg" width="320" height="200"></a> </div>
                               <div class="swiper-slide"> <a href="http://ys.stourweb.com/shouji/mdd/city/id/4213"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20141201102206.jpg" width="320" height="200"></a> </div>
                         
          </div>
        </div>
      </div>
      <div class="pagination pagination1"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span></div>
    </div>
    
    <div class="search_home clearfix">
       <form method="post" action="http://ys.stourweb.com/shouji/mdd/search" onsubmit="return check();">
    <input type="text" class="h_txt" id="keyword" name="keyword" value="" placeholder="搜索目的地">
    <input type="submit" class="h_btn" value=" ">
       </form>
    </div>
    
    <div class="home_menu">
    <p>
      <a class="mdd_ico" href="http://ys.stourweb.com/shouji/mdd/index"><em></em>目的地</a>
        <a class="xl_ico" href="http://ys.stourweb.com/shouji/lines/index"><em></em>线路</a>
        <a class="mp_ico" href="http://ys.stourweb.com/shouji/spot/index"><em></em>景点门票</a>
      </p>
      <p>
      <a class="jd_ico" href="http://ys.stourweb.com/shouji/hotels/index"><em></em>酒店</a>
        <a class="zc_ico" href="http://ys.stourweb.com/shouji/cars/index"><em></em>租车</a>
        <a class="qz_ico" href="http://ys.stourweb.com/shouji/visa/index"><em></em>签证</a>
      </p>
      <p>
      <a class="tg_ico" href="http://ys.stourweb.com/shouji/tuan/index"><em></em>团购</a>
        <a class="xc_ico" href="http://ys.stourweb.com/shouji/photo/index"><em></em>相册</a>
        <a class="gl_ico" href="http://ys.stourweb.com/shouji/raider/index"><em></em>攻略</a>
      </p>
    </div>
    
    <div class="pdt_con">
    <div class="xl_tit clearfix"><h3>本季热推 /</h3> Tour</div>
                                        <div class="pdt_list">
                        <a href="http://ys.stourweb.com/shouji/lines/show/id/2">
                            <div class="pdt_img"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20140616155137.jpg" width="90" height="64"></div>
                            <div class="pdt_txt">
                                <div class="pdt_box">
                                    <p class="p_tit">&lt;九寨沟—黄龙双汽三日游&gt;品质产品，累计出游3万人！送古羌城和九大碗！...</p>
                                    <p class="p_pir">                                         <strong>¥2</strong>
                                        <span>满意度98%</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                                <div class="pdt_list">
                        <a href="http://ys.stourweb.com/shouji/lines/show/id/3">
                            <div class="pdt_img"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20140616154001.jpg" width="90" height="64"></div>
                            <div class="pdt_txt">
                                <div class="pdt_box">
                                    <p class="p_tit">&lt;九寨沟—黄龙双汽三日游&gt;超值产品，赠送烤羊晚会，梦回九寨！...</p>
                                    <p class="p_pir">                                         <strong>¥2</strong>
                                        <span>满意度100%</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                                <div class="pdt_list">
                        <a href="http://ys.stourweb.com/shouji/lines/show/id/9">
                            <div class="pdt_img"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20140613154341.jpg" width="90" height="64"></div>
                            <div class="pdt_txt">
                                <div class="pdt_box">
                                    <p class="p_tit">&lt;九寨沟—黄龙双汽四日游&gt;品质产品，适宜一家老小出游，行程自由宽松！...</p>
                                    <p class="p_pir">                                         <strong>¥2</strong>
                                        <span>满意度100&amp;</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                                <div class="pdt_list">
                        <a href="http://ys.stourweb.com/shouji/lines/show/id/8">
                            <div class="pdt_img"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20140613153921.jpg" width="90" height="64"></div>
                            <div class="pdt_txt">
                                <div class="pdt_box">
                                    <p class="p_tit">&lt;九寨沟—黄龙双汽四日游&gt;超值产品，全程五大赠送，心动九寨！...</p>
                                    <p class="p_pir">                                         <strong>¥2</strong>
                                        <span>满意度100%</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                                <div class="pdt_list">
                        <a href="http://ys.stourweb.com/shouji/lines/show/id/31">
                            <div class="pdt_img"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20140611174724.jpg" width="90" height="64"></div>
                            <div class="pdt_txt">
                                <div class="pdt_box">
                                    <p class="p_tit">&lt;若尔盖大草原—九曲—花湖双汽三日游&gt;特惠产品，赠送羌城和藏寨...</p>
                                    <p class="p_pir">                                         <strong>¥350</strong>
                                        <span>满意度100%</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                                <div class="pdt_list">
                        <a href="http://ys.stourweb.com/shouji/lines/show/id/32">
                            <div class="pdt_img"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20140611174317.jpg" width="90" height="64"></div>
                            <div class="pdt_txt">
                                <div class="pdt_box">
                                    <p class="p_tit">&lt;若尔盖大草原—九曲—花湖双汽三日游&gt;特色产品，全程帐篷住宿一晚，带上自己爱的人，去草原看星星和月亮...</p>
                                    <p class="p_pir">                                         <strong>电询</strong>
                                        <span>满意度100%</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                                <div class="pdt_list">
                        <a href="http://ys.stourweb.com/shouji/lines/show/id/30">
                            <div class="pdt_img"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20140616153518.jpg" width="90" height="64"></div>
                            <div class="pdt_txt">
                                <div class="pdt_box">
                                    <p class="p_tit">&lt;若尔盖大草原—九曲—花湖双汽三日游&gt;环线产品，为智慧旅行和享受旅行的您量身定制...</p>
                                    <p class="p_pir">                                         <strong>电询</strong>
                                        <span>满意度100%</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                                <div class="pdt_list">
                        <a href="http://ys.stourweb.com/shouji/lines/show/id/154">
                            <div class="pdt_img"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20140904175457.jpg" width="90" height="64"></div>
                            <div class="pdt_txt">
                                <div class="pdt_box">
                                    <p class="p_tit">九黄纯净三日游22...</p>
                                    <p class="p_pir">                                         <strong>电询</strong>
                                        <span>满意度94%</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                                <div class="pdt_list">
                        <a href="http://ys.stourweb.com/shouji/lines/show/id/155">
                            <div class="pdt_img"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20140910104557.jpg" width="90" height="64"></div>
                            <div class="pdt_txt">
                                <div class="pdt_box">
                                    <p class="p_tit">九寨黄龙纯净四日游...</p>
                                    <p class="p_pir">                                         <strong>电询</strong>
                                        <span>满意度95%</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                                <div class="pdt_list">
                        <a href="http://ys.stourweb.com/shouji/lines/show/id/152">
                            <div class="pdt_img"><img src="./思途CMS演示网站首页-思途CMS演示网站_files/20140813162123.jpg" width="90" height="64"></div>
                            <div class="pdt_txt">
                                <div class="pdt_box">
                                    <p class="p_tit">九寨黄龙 &lt;尊豪&gt; 四日游...</p>
                                    <p class="p_pir">                                         <strong>电询</strong>
                                        <span>满意度95%</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
      <div class="ck_more">
      <a href="http://ys.stourweb.com/shouji/lines/list/kindid/0">点击查看更多&gt;&gt;</a>
      </div>
    </div>
    
  </div>
  
   <div class="footer">
  <div class="back_top" href="javascript:void();" onclick="scroll(0,0);">返回顶部</div>
    <div class="terminal">
    <a href="./思途CMS演示网站首页-思途CMS演示网站_files/思途CMS演示网站首页-思途CMS演示网站.html">手机版</a>
 |
 <a href="http://ys.stourweb.com/?computerversion=1">电脑板</a>
 |
 <a href="http://ys.stourweb.com/shouji/corp/">关于我们</a>
 </div>
 </div>
 
{:W('Page/Foot')}
<script type="text/javascript" src="__JS__/idangerous.swiper.js"></script>
<script>
var mySwiper = new Swiper('.swiper1',{
	pagination: '.pagination',
	paginationClickable: true,
	slidesPerView: 'auto'
});
function check() {
	var keyword = $("#keyword").val();
	if(keyword==''){
		alert("请输入目的地");
		return false;
	}
	return true;
}
</script>


</body></html>